<link rel="stylesheet" href="__STATIC__/admin/css/welcome.css?v={:time()}" media="all">
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md8">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-warning icon"></i>数据统计</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-blue"></span>
                                                        <h5>平台数据</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$data.plate}</h1>
                                                        <small></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-cyan"></span>
                                                        <h5>加入平台</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$data.plateback}</h1>
                                                        <small></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-orange"></span>
                                                        <h5>曝光数据</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$data.warn}</h1>
                                                        <small></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-green"></span>
                                                        <h5>曝光反馈</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$data.warnback}</h1>
                                                        <small></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-credit-card icon icon-blue"></i>快捷入口</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10 layuimini-qiuck">

                                        {foreach $quicks as $vo}
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a layuimini-content-href="{:url($vo['href'])}" data-title="{$vo['title']}">
                                                <i class="{$vo['icon']|raw}"></i>
                                                <cite>{$vo['title']}</cite>
                                            </a>
                                        </div>
                                        {/foreach}

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <!--<div class="layui-card-header"><i class="fa fa-line-chart icon"></i>报表统计</div>-->
                            <!--<div class="layui-card-body">-->
                            <!--    <div id="echarts-records" style="width: 100%;min-height:500px"></div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md4">

                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-bullhorn icon icon-tip"></i>系统公告</div>
                    <div class="layui-card-body layui-text">
                        <div class="layuimini-notice">
                            <div class="layuimini-notice-title">暂无</div>
                            <div class="layuimini-notice-extra">2019-07-11 23:06</div>
                            <div class="layuimini-notice-content layui-hide">
                                
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-fire icon"></i>版本信息</div>
                    <div class="layui-card-body layui-text">
                        <table class="layui-table">
                            <colgroup>
                                <col width="100">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>框架名称</td>
                                <td>
                                    EasyAdmin
                                </td>
                            </tr>
                            <tr>
                                <td>当前版本</td>
                                <td>v2.0.0</td>
                            </tr>
                            <tr>
                                <td>主要特色</td>
                                <td>零门槛 / 响应式 / 清爽 / 极简</td>
                            </tr>
                           
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="layui-card">
                    
                </div>

            </div>
        </div>
    </div>
</div>