@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1689742764061') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-zixun:before {
  content: "\e62d";
}

.icon-puguang:before {
  content: "\e654";
}

.icon-dc-icon-pingtaigongshouluqiye:before {
  content: "\e606";
}

.icon-odbc:before {
  content: "\e93a";
}

