<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,viewport-fit=cover">
  <meta name="keywords" content="配资指数-{:get_config('web_domain')},曝光非法配资平台,举报非法配资平台,最真实的配资评论,{$data.plateform}">
  <meta name="description" content="配资指数曝光,配资指数-{:get_config('web_domain')},让非法配资平台无处藏身,最真实的配资评论">
<title>{$data.title}</title>
{include file="public/include"}
</head>
<body>
   
   <div id="app">
	<header class="navigation"><i class="cubeic-back" style="" id="goBack"></i>
		<h1>{$data.title}</h1> <input placeholder="请输入平台名称" class="search-box"
			style="display: none;">
		<div class="search-btn" style="display: none;">搜索</div> <i class="cubeic-search" style="display: none;"></i>
	</header>
	<div class="my-router" style="animation-duration: 0s;">
		<div class="cube-scroll-wrapper my-scroll-wrapper" style="height: 852px;">
			<div class="cube-scroll-content">
				<div class="cube-scroll-list-wrapper" style="min-height: 853px;">
					<div class="create-box"><div class="modular">配资描述</div>
					<div class="paragraph">{$data.content|default=''|raw|html_entity_decode}</div> <div> <div class="modular">后续报道</div> 
					<div class="paragraph">
					    	{$data.report|default=''|raw|html_entity_decode}
					    </div> 
					    <div class="modular">总结</div> 
					    <div class="paragraph">
					        	{$data.summary|default=''|raw|html_entity_decode}
					        <div>
					        
					      <div class="detail-footer"></div></div>
				
			</div>
			<!---->
		</div>
		
		{include file="public/navs"}
	</div>
	
   
 <script type="text/javascript" charset="utf-8">
    var goBack = document.getElementById("goBack");
    
goBack.addEventListener("click",function(){
    window.history.back();
})
</script>  
    


</body>
</html>